@media screen and (max-width: 769px) {
  .productList {
    flex-direction: column;
  }
  .productDiv {
    width: 100%;
    margin: 1rem 0rem;
  }
  .navDiv {
    padding: 1rem 0.5rem;
  }
  .menuBar {
    display: inline-block;
    font-size: 26px;
  }
  .productList {
    width: 95%;
  }
  .empty {
    width: 100%;
  }
  .correct {
    width: 80%;
  }
  .search {
    display: none;
  }
  .Avi {
    display: none;
  }
  .tableDiv {
    width: 95%;
  }
  .tableSect {
    overflow-x: scroll;
  }
  .checkout {
    flex-direction: column;
  }
  .cartImg {
    width: 70px;
    height: 70px;
  }
  .cartSum {
    margin: auto;
    width: 95%;
  }
  .formDiv {
    margin: 0.5rem;
  }
  .prodetDiv {
    flex-direction: column;
    width: 90%;
  }
  .proContentDiv {
    width: 100%;
  }
  .prodetImgDiv {
    width: 100%;
  }
  .reviewDiv {
    width: 100%;
    margin: 1rem 0rem;
  }
  .allrev {
    width: 90%;
  }
  .revSect {
    margin: 0rem;
  }
  .prodetDiv {
    width: 100%;
    padding: 0rem 1rem;
    flex-direction: column;
    display: flex;
  }
  .adminDiv {
    margin: 0.5rem;
    flex-direction: column;
  }
  /* .procontentDiv {
    width: 100%;
  } */
  .proContentDiv h1 {
    font-size: 2rem;
  }
}
